{{>header}}

<div class="row mx-0 table-bordered courses__list__header">
	<div class="col-4 p-3 courses__list__header__cell">Nombre</div>
	<div class="col-4 p-3 courses__list__header__cell">Descripción</div>
	<div class="col-2 p-3 courses__list__header__cell">Valor</div>
	<div class="col-2 p-3 courses__list__header__cell">Disponible</div>
</div>
{{#each courses}}
	<div class="row mx-0 course__list__item" data-toggle="collapse" data-target="#collapse-{{id}}" aria-expanded="true" aria-controls="collapse-{{id}}">
		<div class="col-4 p-3">{{name}}</div>
		<div class="col-4 p-3">{{description}}</div>
		<div class="col-2 p-3">{{price}}</div>
		<div class="col-2 p-3">
			{{#if available}}Sí{{else}}No{{/if}}
		</div>
		{{#if available}}
			<div class="col-12 px-0">
				<div id="collapse-{{id}}" class="collapse multi-collapse" aria-labelledby="collapse-{{id}}">
					<div class="row mx-0">
						<div class="col-3 py-2 course__list__item__extra">Modalidad:</div>
						<div class="col-3 py-2 course__list__item__extra__data">{{modality}}</div>
						<div class="col-3 py-2 course__list__item__extra">Intensidad:</div>
						<div class="col-3 py-2 course__list__item__extra__data">{{intensity}}</div>
					</div>
				</div>
			</div>
		{{/if}}
	</div>
{{/each}}

{{>footer}}